body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d48a1c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border-radius: 5px;
  margin: 0.5vmin;
}

a {
  cursor: pointer;
}

.form-card {
  background-color: #eec76b;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  padding-left: 2vmin;
  margin-right: 5vmin;
  margin-left: 5vmin;
  border-radius: 25px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.map-background {
    z-index: -1;
}

.map {
  border-radius: 15px;
}

.newuser-form {
  border: 1vmin blue;
  padding: 10vmin;
  margin: 20vmin;
  border-radius: 25px;
  background-color: white;
  z-index: 4;
}
